<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/element-ui/lib/theme-chalk/index.css">

  <style >
#app{
    width: 100%;
    height: 100%;
}
html,body{
	margin:0;
	width: 100%;
    height: 100%;
}
/*去掉标题选中*/
:focus{
   outline:0;
}
/*固定底部*/
.el-drawer__body{
   overflow-y: scroll;
   margin-bottom: 50px;
}
.drawer__footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background-color: white;
}
</style>
</head>
<body>
  <div id="app">
    <el-container style="width:100%;height:100%;padding:20px">
	<el-container>
    <el-aside width="300px">
    	<el-tree
		  :props="props"
		  :load="loadNode"
		  :expand-on-click-node="false"
		  @node-click="nodeClick"
		  ref="orgTree"
		  lazy>
		</el-tree></el-aside>

		<el-main>
		 	<el-row>
			  <el-button size="mini" @click="addForm()">添加子部门</el-button>
			  <el-button size="mini" @click="editForm()">编辑部门</el-button>
			  <el-button size="mini" @click="deleteAction()">删除部门</el-button>
			  <el-button v-if="!editSortStatus" size="mini"  @click="editSort()">调整排序</el-button>
			  <el-button v-if="editSortStatus" size="mini" @click="editSortAction()">保存排序</el-button>
			</el-row>
			<el-row>
			  <el-table ref="dragTable"
			    :data="page.data"
			    stripe
			    style="width: 100%">
			    <el-table-column
			      prop="orgName"
			      label="部门名称"
			      width="180">
			    </el-table-column>
			    <el-table-column
			      prop="memberCount"
			      label="部门人数">
			    </el-table-column>
			    <el-table-column
			      prop="gmtCreate"
			      label="创建日期" :formatter="dateFormat">
			    </el-table-column>
			  </el-table>
			  <div class="block" style="margin-top:5px">
			    <el-pagination
			      @size-change="handleSizeChange"
			      @current-change="handleCurrentChange"
			      :current-page="page.pageNum"
			      :page-sizes="[10, 20, 30]"
			      :page-size="page.pageSize"
			      layout="total, sizes, prev, pager, next, jumper"
			      :total="page.total">
			    </el-pagination>
			  </div>
			</el-row>
		</el-main>
	</el-container>
	<div>
			<el-drawer title="新增部门" :with-header="true" :with-footer="true" :visible.sync="dialogVisibleAdd">
				<el-form :model="formData" style="margin-right:20px">
					<el-form-item label="所属上级" :label-width="'100px'">
						<el-input v-model="formData.parentOrgName" disabled auto-complete="off"></el-input>
					</el-form-item>
					<el-form-item label="部门名称" :label-width="'100px'">
						<el-input v-model="formData.orgName" auto-complete="off"></el-input>
					</el-form-item>
				</el-form>
				<div class="dialog-footer">
					<el-button size="mini" @click="dialogVisibleAdd = false">取 消</el-button>
					<el-button size="mini" type="primary" @click="addAction()">保 存</el-button>
				</div>
			</el-drawer>
			<el-drawer title="编辑部门" :with-header="true" :visible.sync="dialogVisibleEdit">
				<el-form :model="formData">
					<el-form-item label="所属上级" :label-width="'100px'">
						<el-input v-model="formData.parentOrgName" auto-complete="off"></el-input>
					</el-form-item>
					<el-form-item label="部门名称" :label-width="'100px'">
						<el-input v-model="formData.orgName" auto-complete="off"></el-input>
					</el-form-item>
				</el-form>
				<span class="dialog-footer">
					<el-button size="mini" @click="dialogVisibleEdit = false">取 消</el-button>
					<el-button size="mini" type="primary" @click="editAction()">保 存</el-button>
				</span>
			</el-drawer>
		</div>
  </div>
</body>
<script src="/static/js/vue/dist/vue.js"></script>
<script src="/static/element-ui/lib/index.js"></script>
<script src="/static/js/vue/dist/axios.min.js"></script>
<script src="/static/js/vue/dist/Sortable.min.js"></script>
 
  <script type="text/javascript">
  
    new Vue({
      el: '#app',
      data: function() {
    	  return {
    		  props: {
    	          label: 'orgName',
    	          children: 'zones',
    	          isLeaf: 'leaf'
    	      },
  			  dialogVisibleAdd:false,
  			  dialogVisibleEdit:false,
  			  editSortStatus:false,
  			  clickNode:{},
  			  formData:{},
  			  page: {},
  			  sourceList:[],
  			  targetList:[]
    	  }
      },
      created: function(){
		///web/orgInfo
      },
      methods: {
    	  editSort(){
    		  This = this;
    		  const el = this.$refs.dragTable.$el.querySelectorAll('.el-table__body-wrapper > table > tbody')[0];
    		  this.sortable = Sortable.create(el,{
    			animation: 150,
    			ghostClass:'blue-background-class',
    		    setData:function(dataTransfer){
    		    },
    		    onEnd: evt => {
    		      This.sourceList.push(evt.oldIndex);
    		      This.targetList.push(evt.newIndex);
    		    }
    		  })
    		  this.editSortStatus = true;
    	   },
    	   editSortAction(){
     		  This = this;
    		  this.editSortStatus = false;
    		  //处理排序数据
    		  var sortJson = [];
    		  var data = This.page.data;
    		  for(var i=0; i<data.length;i++){
    			  var item = data[i];
    			  sortJson.push({orgId:item.orgId,sort:item.sort});
    		  }
     		  for(var i=0;i<this.sourceList.length;i++){
     			 var oldIndex = this.sourceList[i];
     			 var newIndex = this.targetList[i];
     			 var oldOrgId = sortJson[oldIndex].orgId;
     			 sortJson[oldIndex].orgId = sortJson[newIndex].orgId;
     			 sortJson[newIndex].orgId = oldOrgId;
     		  }
     		  //保存排序
     		  console.log(sortJson)
     		  axios.put('/web/orgInfo/batchSort',sortJson,{headers: {'X-tenant-Token':sessionStorage.getItem("X-tenant-Token")}}).then(function (response) {
	       		  var result = response.data;
	       		  if(result.code==0){
	       			This.$message({showClose: true,message: '保存成功',type: 'success'});
	              }
	       	  });
     	   },
    	  loadNode(node, resolve) {
    		  var This = this;
    		  var expandNode = node.data || {orgId:0};
    		  axios.get('/web/orgInfo/children/'+expandNode.orgId,{headers: {'X-tenant-Token':sessionStorage.getItem("X-tenant-Token")}}).then(function (response) {
	       		  var result = response.data;
	       		  if(result.code==0){
	       			return resolve(result.data);
	              }
	       	  });
    	  },
    	  loadPage() {
    		  This = this;
    		  var query = {pageNum:this.page.pageNum,pageSize:this.page.pageSize,query:{parentOrgId:this.clickNode.orgId}}
    		  axios.post('/web/orgInfo/page',query,{headers: {'X-tenant-Token':sessionStorage.getItem("X-tenant-Token")}}).then(function (response) {
	       		  var result = response.data;
	       		  if(result.code==0){
	       			result.data.total = parseInt(result.data.total);
	       			This.page = result.data;
	              }
	       	  });
    	  },
    	  handleSizeChange(pageSize) {
  	          this.page.pageSize = pageSize;
  	          this.loadPage();
  	       },
  	      handleCurrentChange(pageNum) {
  	    	  this.page.pageNum = pageNum;
  	    	  this.loadPage();
  	       },
    	  nodeClick(node) {
    		  this.clickNode = node;
    		  this.loadPage();
    	  },
    	  addForm(){
			  this.dialogVisibleAdd = true;
			  this.formData = {parentOrgName:this.clickNode.orgName,parentOrgId:this.clickNode.orgId,orgName:""};
		  },
		  editForm(){
			    This = this;
				this.dialogVisibleEdit = true;
				axios.get('/web/orgInfo/'+this.clickNode.orgId,{headers: {'X-tenant-Token':sessionStorage.getItem("X-tenant-Token")}}).then(function (response) {
		       		  var result = response.data;
		       		  if(result.code==0){
		       			This.formData = result.data;
		              }
		       	  });
			},
		  addAction(){
				var This = this;
				axios.post('/web/orgInfo/add',this.formData,{headers: {'X-tenant-Token':sessionStorage.getItem("X-tenant-Token")}}).then(function (response) {
	       		var result = response.data;
	       		if(result.code==0){
	       		   This.dialogVisibleAdd = false;
	       		   This.loadPage();
	       		   This.$message({showClose: true,message: '新增成功',type: 'success'});
	            }
	       	  });
			},
		  editAction(){
				var This = this;
				axios.put('/web/orgInfo/'+this.formData.orgId,{orgName:this.formData.orgName,parentOrgId:this.formData.parentOrgId},{headers: {'X-tenant-Token':sessionStorage.getItem("X-tenant-Token")}}).then(function (response) {
	       		var result = response.data;
	       		if(result.code==0){
	       		   This.dialogVisibleEdit = false;
	       		   This.$message({showClose: true,message: '修改成功',type: 'success'});
	       		   location.reload();
	            }
	       	  });
			},
			deleteAction(){
				var This = this;
			     this.$confirm('确定删除该部门?', '提示', {
			            confirmButtonText: '确定',
			            cancelButtonText: '取消',
			            type: 'warning'
			          }).then(() => {
			        	  axios.delete('/web/orgInfo/'+this.clickNode.orgId,{headers: {'X-tenant-Token':sessionStorage.getItem("X-tenant-Token")}}).then(function (response) {
					       		var result = response.data;
					       		if(result.code==0){
					       		   This.$message({showClose: true,message: '删除成功',type: 'success'});
					       		   location.reload();
					            }
					       	  });
			          }).catch(() => {
			            //点取消的提示
			          });
			},
		   dateFormat(row,column){
	          const sourceDate= new Date(row[column.property]);
	          const month = sourceDate.getMonth() + 1;
	          const day = sourceDate.getDate();
	          return sourceDate.getFullYear() + "-" + (month<10?"0"+month:month) + "-" + (day<10?"0"+day:day);
		    }
      }
    })
  </script>
</html>