<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/element-ui/lib/theme-chalk/index.css">
  <style scoped>
.login-container {
    width: 100%;
    height: 100%;
}
.login-page {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 180px auto;
    width: 350px;
    padding: 35px 35px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
label.el-checkbox.rememberme {
    margin: 0px 0px 15px;
    text-align: left;
}
</style>
</head>
<body>
  <div id="app">
   	<div class="login-container">
        <el-form :model="registerForm" :rules="rules"
         status-icon
         ref="registerForm" 
         label-position="left" 
         label-width="0px" 
         class="demo-ruleForm login-page">
            <h3 class="title">企业注册</h3>
            <el-form-item label="企业名称" :label-width="'100px'">
                <el-input type="text" 
                    v-model="loginForm.tenantName" 
                    auto-complete="off" 
                    placeholder="企业注册"
                ></el-input>
            </el-form-item>
            <el-form-item label="手机号码" :label-width="'100px'">
                <el-input type="text" 
                    v-model="loginForm.phone" 
                    auto-complete="off" 
                    placeholder="手机号码"
                ></el-input>
            </el-form-item>
           <el-form-item label="邮箱" :label-width="'100px'">
                <el-input type="text" 
                    v-model="loginForm.email" 
                    auto-complete="off" 
                    placeholder="邮箱"
                ></el-input>
            </el-form-item>
            <el-form-item label="管理密码" :label-width="'100px'">
                <el-input type="password" 
                    v-model="loginForm.password" 
                    auto-complete="off" 
                    placeholder="管理密码"
                ></el-input>
            </el-form-item>
            <el-form-item label="确认密码" :label-width="'100px'">
                <el-input type="password" 
                    v-model="loginForm.password" 
                    auto-complete="off" 
                    placeholder="管理密码"
                ></el-input>
            </el-form-item>
            <el-form-item style="width:100%;">
                <el-button type="primary" style="width:100%;" @click="handleSubmit" :loading="logining">注册</el-button>
            </el-form-item>
        </el-form>
    </div>
  </div>
</body>
  <script src="/static/js/vue/dist/vue.js"></script>
  <script src="/static/js/vue/dist/axios.min.js"></script>
  <script src="/static/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
    	  return {
              logining: false,
              loginForm: {
                  username: 'dev219@qq.com',
                  password: '123',
              },
              rules: {
                  username: [{required: true, message: '请输入账号', trigger: 'blur'}],
                  password: [{required: true, message: '请输入密码', trigger: 'blur'}]
              },
              checked: false
          }
      },
      methods: {
          handleSubmit(event){
              this.$refs.loginForm.validate((valid) => {
                  if(valid){
                      this.logining = true;
                      This = this;
                      
                      axios.post('/web/tenantInfo/login', {
                   		  account:This.loginForm.username,password:This.loginForm.password
                   	  }).then(function (response) {
                   		  var result = response.data;
                   		  if(result.code==0){
                           	  This.logining = false;
                           	  sessionStorage.setItem("X-tenant-Token",result.data.token);
                           	  location.href="/static/index.html"
                          }else{
	                       	  This.$message.error(result.message);
	                       	  This.logining = false;
                          }
                   	  }).catch(function (error) {
                   		  This.$message.error("登录失败");
                   		  This.logining = false;
                   	  });
                  }else{
                      return false;
                  }
              })
          }
      }
    })
  </script>
</html>